# please add general patterns to your global ignore list
# see https://github.com/github/gitignore#readme

.DS_STORE

#store no Databasefiles

development.db

*.swp
*.rbc
*.sass-cache
*.log
/pkg
/doc/api
/.bundle
/cache
# /Gemfile.lock #Needed for heroku
