

/* main content frame */
#content {
  margin: 0 auto;
  min-height: 100%;
  padding: 0 0 140px;
  width: 980px;
}


#footer {
    color: rgb(68, 68, 68);
    background: rgba(71, 79, 107, 0.19);
    border-top: 1px solid #000;
    clear: both;
    padding: 15px;
    margin-top: 30px;
}