
/*
 Some CSS Styles for showing search results
 */
 
#source-list {
    margin-top: 20px;
    max-width: 100%;
}

/*#source-list th {
    display: none;
}*/

#source-list td.icon {
    min-width: 55px;
    text-align: center;
}

#source-list td.name td.version {
    white-space: nowrap;
}

#source-list td.changedate {
    white-space: nowrap;
}

#source-list td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

                table.aui {
                    border-collapse: collapse;
                    width: 100%;
                }

                table.aui table.aui {
                    margin: 0;
                }

                table.aui > caption {
                    color: #707070;
                    background: #f5f5f5;
                    border-bottom: 1px solid #ccc;
                    caption-side: top;
                    padding: 7px 10px;
                    text-align: left;
                }

                table.aui > tbody > tr,
                table.aui > tfoot > tr {
                    background: #fff;
                    border-bottom: 1px solid #ccc;
                    color: #333;
                }

                table.aui > tbody > tr > th {
                    background: #fff;
                    color: #333;
                }

                table.aui > thead > tr > th,
                table.aui > tbody > tr > th,
                table.aui > thead > tr > td,
                table.aui > tbody > tr > td,
                table.aui > tfoot > tr > td {
                    padding: 7px 10px;
                    /* text-align: left; */
                   /* vertical-align: top; */
                }

                table.aui > thead {
                    border-bottom: 1px solid #ccc;
                }

                /* Borders on TBODY and TFOOT don't work in IE - whereas these at least work in IE7 & IE8 */
                table.aui > tbody > tr: first-child > td,
                table.aui > tbody > tr: first-child > th,
                table.aui > tfoot > tr: first-child > td {
                    border-top: 1px solid #ccc;
                }

                table.aui > thead > tr > th > ul.menu,
                table.aui > tbody > tr > th > ul.menu,
                table.aui > tbody > tr > td > ul.menu,
                table.aui > tfoot > tr > td > ul.menu {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

                table.aui > thead > tr > th > ul.menu > li,
                table.aui > tbody > tr > th > ul.menu > li,
                table.aui > tbody > tr > td > ul.menu > li,
                table.aui > tfoot > tr > td > ul.menu > li {
                    float: left;
                    margin: 0 10px 0 0;
                    width: auto;
                }

                /* Interactive Tables */

                table.aui.aui-table-interactive > tbody > tr: hover {
                    background: #f5f5f5;
                }

                /* End Interactive Tables */

                /* stripes - deprecated */
                table.aui.aui-zebra tr {
                    border-bottom: 0;
                }

                table.aui.aui-zebra > thead > tr: nth-child(even),
                table.aui.aui-zebra > tbody > tr: nth-child(even),
                table.aui.aui-zebra > tfoot > tr: nth-child(even),
                table.aui-zebra > tbody > tr: nth-child(even) > th {
                    background: #f5f5f5;
                    color: #333;
                }

                /* must be a separate rule for IE */
                table.aui-zebra tr.aui-zebra {
                    background: #e6e6e6;
                    color: #333;
                }

                table.aui-zebra tr.aui-zebra th {
                    background: #f5f5f5;
                    color: #333;
                }

.downloadlink {
 /* margin-bottom: 10px; */
  /* width: 160px; */
   height:15px;
 display:block;
 background:transparent url('../images/watch_icon_empty.png') center top no-repeat;
 background-size: 24px 16px
}

.downloadlink:hover {
   background-image: url('../images/watch_icon.png');
}

