
<%= showFlashMessage %>

<div class="dialog">
	<%= erb :"accounts/profile" %>
</div>

<p></p>

<div class="dialog">
	<%= erb :"accounts/profilepassword" %>
</div>

<p></p>

<div class="dialog">
	<%= erb :"accounts/keytechIntegration" %>
</div>
