	
	<div id="footer">
		<p>
		keytech web app pre-beta version<br>
			
			Keytech user: 
			<% if currentUser %>
				<%= currentUser.keytechUserName %>
			<% else %>
				-not logged in-
			<% end %>
			
		</p>
		<ul class="list-inline">
			<li class="small"><a href="http://claus-software.de">Claus-Software</a>, 2014</li>
			<li class="small"><a href="/terms">Terms and Conditions</a></li>
			<li class="small"><a href="/impressum">About / Impressum</a></li>

		</ul>
		


		
	</div>