
<header id="header" class="l-wrapper main-header">
    <div class="dashboard-logo">
      <a href="/" class="logo">
        <span class="sprite dashboard-logo">keytech Webservice</span>
</a>
        
    </div>

      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

          
      <% if loggedIn?   %>
          <li class="nav-item"><a href="/search">Search</a></li>
      <% end %>
    
    <% if !loggedIn?  # Show only if not logged in  %>
          <li class="nav-item"><a href="/features">Features</a></li>
          <li class="nav-item"><a href="/pricing">Pricing</a></li>
    <% end %>

          <!-- Wenn eingelogged -->
          <li class="nav-item"><a href="/support">Support</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          
          <%  if !loggedIn? %> <!-- Wenn nicht eingelogged -->
            <li class="nav-item"><a href="/">Login</a></li>
            <li class="nav-item"><a href="/signup">Signup</a></li>
          <% else %> <!-- Wenn eingelogged -->
            <li class="nav-item"><a href="/account">Account</a></li>
            <% if currentUser.is_admin %>
              <li class="nav-item"><a href="/admin">Admin</a></li>
            <% end %>
            <li class="nav-item"><a href="/logout">Logout</a></li>
          <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if currentUser %>
            <%= erb :searchField %> 
          <% end %>
        </li>
      </ul>
    </nav>

    
  </header>
