
<header id="header" class="l-wrapper main-header">
    <div class="dashboard-logo">
      <a href="/" class="logo">
        <span class="sprite dashboard-logo">keytech Webservice</span>
</a>
        
    </div>

      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

          
      <% if currentUser  %>
          <li class="nav-item"><a href="/">Overview</a></li>
      <% else %>
          <li class="nav-item"><a href="/features">Features</a></li>
          <li class="nav-item"><a href="/pricing">Pricing</a></li>
      <% end %>

      <!-- Immer anzeigen  -->
      <li class="nav-item"><a href="/support">Support</a></li>
      <li class="nav-item"><a href="/about">About</a></li>

      <%  if !currentUser %> <!-- Wenn nicht eingelogged -->
        <li class="nav-item"><a href="/">Login</a></li>
        <li class="nav-item"><a href="/signup">Signup</a></li>
      <% else %> <!-- Wenn eingelogged -->
        <li class="nav-item"><a href="/account">Account</a></li>
      <% if currentUser.isAdmin? %>
        <li class="nav-item"><a href="/admin">Admin</a></li>
      <% end %>
        <li class="nav-item"><a href="/logout">Logout</a></li>
      <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if currentUser %>
            <%= erb :searchField %> 
          <% end %>
        </li>
      </ul>
    </nav>

    
  </header>
