<div>
	
<%= showFlashMessage %> 


<div class="dialog" id="login">
	 <form action="/login" class="panel-body" method="post" accept-charset="utf-8">
	 	<fieldset><div class="field">
	 		<label for="email">Email/Username</label>
	 		<input class="text" id="email" name="username" placeholder="email address or username" tabindex="1" type="email" />
	 	</div>
	 	<div class="field">
	 		<label for="password">Password</label>
	 		<input class="text password" id="password" name="passwd" placeholder="password" tabindex="2" type="password" />
	 	<p><a href="/account/forgotpassword">I forgot my password</a></p>
	 	</div>
	 	
	 </fieldset>

	 <fieldset class="submit">
	 		<input class="submit" name="commit" tabindex="3" type="submit" value="Login" />
	 </fieldset>

	 	<div>
	 		<p>
	 			<a href="/signup">Sign up a new account </a>
	 		</p>
	 	</div>
	</form>
</div>


</div>