<div>
	<h1>This is the main index page with Login form.</h1>
	<form action="/login" method="post" accept-charset="utf-8">
		Username: <input type="text" name="username" /><br/>
		Password: <input type="password" name="passwd" /><br/>
		<input type="submit" value="Login">
	</form>
</div>