<div class="searchfield"> 
  <form action="/search" method="get" accept-charset="utf-8">
     <fieldset>
      <label for="q">Search for:</label>
      <input class="text" id="q" type="text" name="q" />
      <button type="submit" class="btn btn-default btn-sm" name="submit">Search</button>
    </fieldset>
  </form>
</div>