<div class="searchfield"> 
  <form action="/search" method="get" accept-charset="utf-8">
     <fieldset>
      <label for="q">Search for:</label>
      <input class="text" id="q" type="text" name="q" />
      <input class="submit" name = "commit" type="submit" value="Search">
    </fieldset>
  </form>
</div>