<div>

	<%= showFlashMessage %> 

<div class="dialog" id="login">
	 <form action="/account/forgotpassword" class="panel-body" method="post" accept-charset="utf-8">
	 	

	 	<fieldset>
		<h3>Password recovery </h3>
	 		<div class="field">
	 		<input class="text" id="email" name="email" placeholder="email address" tabindex="1" type="text" />
	 	</div>
	 	<p>
	 	By entering your mail address we will send you a link to reset you password.
	 	</p>
	 </fieldset>

	 <fieldset class="submit">
	 		<input class="submit" name="commit" tabindex="3" type="submit" value="Send " />
	 </fieldset>

	 	
	</form>
</div>


</div>