
<% bomLayout = loadBomLayout %>
<% bomData = loadElementBom(@element.elementKey) %>

<table class="table table-striped table-condensed small">
<thead>
	<tr>
		<% bomLayout.layouts.each do |layoutItem| %>
    	<th class=""><%= layoutItem.displayName %></th>
    	<% end %>
    </tr>
</thead>
<tbody>

<% bomData.bomElements.each do |bomitem| %>
<tr>
      <% bomLayout.layouts.each do |bomattribute| %>

      <td> <div>

      	<% if bomattribute.controlType=='DATE' %>
			<%= convertJsonDate(bomitem.keyValueList[bomattribute.attributeName.to_s]) %>      	
      	<% else %>

      		<%= bomitem.keyValueList[bomattribute.attributeName.to_s] %>
      	<% end %>
      	</div>
      </td>

      <% end %>
</tr>
<% end %>
</tbody>
</table>
