
<div ng-init="param='<%= @element.elementKey %>';">
<% editorLayouts = loadEditorLayout(@element.elementKey) %>

<fieldset ng-controller="elementInformation" class="Information" style="position:relative; left:5px; top:5px; height:<%= editorLayouts.maxHeight  %>px">

<% editorLayouts.layouts.each do |layoutElement| %>
	<%= layoutElement.htmlStatement %>
<% end %>
</fieldset>
</div>
