

<h3 class="featuresHeading">Easy access to keytech data everywhere</h3>
<p>
<ul>
	<li>No need to locally install a client</li>
	<li>Use your own web browser</li>
	<li>Can be used on all platforms: OSX / Windows / Linux</li>
	<li>Can be used on most tablets : Android, iPad</li>
</ul>

</p>

<div>
<h3 class="featuresHeading">Fast and secure</h3>
<p>
<ul>
	<li>By using the new and fast keytech API, no need to setup slow VPNs</li>
	<li>Take advantage of the new and complete redesigned keytech API</li>
	<li>Use your own keytech login credentials</li>
	<li>While the API uses https, a secure connection between you und the API is garanteed.</li>
</ul>

</p>
</div>


<div>
<h3 class="featuresHeading">What you will need</h3>
<p>
<ul>
	<li>The only thing you need is, that you keytech installation will have the keytech API installed and a general access from outside your office. </li>
	<li>Your user credentials must have the permission to use the keytech API.</li>
	<lI>To use this service you must have a paid subscription. You can see the <a href="/pricing">pricing here</a>.</lI>
	
</ul>

</p>
</div>

