<h3>Plans and pricing</h3>

<p>
You have free access to our demo database. If you like to switch to your own database you will need a paid subscription. </p>


<h4>The plan</h4>

<div>

<strong>Standard: Read only</strong>
<ul>
	<li>Read-only access to your API</li>
	<li>Read Information - metadata</li>
	<li>Read Files</li>
	<li>Read Structure</li>
	<li>Read Status history</li>
	<li>Read Notes</li>

	</ul>
</div>

<div>
 <button type="submit" class="btn btn-success" href="/account/subscription">Subscribe</button>
</div>