<h3>Terms of Service </h3>

<div class="lead">
By using the keytech-web site ("Service"), or any services of keytech-web you are agreeing to be bound by the following terms and conditions ("Terms of Service").
</div>

<h4 class="text-info">Account Service</h4>
<div>
	<ul>
	<li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
	<li>You cannot use the service by other service for data-mining. End user must always be a human being</li>
	<li>You can only have one account. Shared accounts is not permitted. </li>
	<li>You are responsible for you account. Keep login data and password secret. We are notliable for any loss or damage from your failure to comply with this security obligation.</li>
</ul>
</div>

<h4 class="text-info">API Uplink Terms</h4>
<div>
	<ul>
		<li>
keytech-Web makes an uplink to the keytech API by using the link you enterd in the account settings.<br>
keytech-web will only forward requests directly to the end users browser. Files, Images Data are not stored permanetly in the service. Security critical data is never stored or cached by this service.<br></li>

<li>By linking your useraccount to a public available keytch API, you agree that keytech username, password and API URL is stored by this service. <br>
All keytech credentials are stored AES-256 encrypted. <br>
<br>
Any modification of data, information files and every kind of information provided by the keytech-API is handled like it would be handled when you use a directly connected client.<br>
<bR>
You expressly understand and agree that keytech-web shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses, resulting from your use of the service by directly acting through the web-interface.
</li>
<ul>
</div>

<h4 class="text-info">Privacy</h4>
<div>
	<ul>
	<li>keytech-web will never share your account-information with any other third-party.</li>
	<li>Your credit card information -i case of a paid plan- is only shared with the payments vendor to bill the card. Payments vendor is BrainTree. </li>
	<li>All data transmitted through keytech-web will not be hosted locally permanently. Some meta-data can be stored in an in-memory database for a very short ammount of time. These data can be - but must not exclisive be- icons, thumbnails, layout information, usersettings, permission settings. But we will never store any files and element (document, folder or items) data.</li>

</ul>
</div>

<h4 class="text-info">Business Information</h4>
<div>
	<address>
	Enter a adress
</address>
	You can also use the <a href="/support">contact</a> form.
</div>
