<h3>Terms of Service </h3>

<div class="lead">
By using the keytech-web site ("Service"), or any services of keytech-web, represented by claus-software, you are agreeing to be bound by the following terms and conditions ("Terms of Service").
</div>

<h4 class="text-info">Account Service</h4>
<div>
	<ul>
	<li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
	<li>You cannot use the service by other service for data-mining. End user must always be a human being</li>
	<li>You can only have one account. Shared accounts is not permitted. </li>
	<li>You are responsible for you account. Keep login data and password secret. We are notliable for any loss or damage from your failure to comply with this security obligation.</li>
</ul>
</div>

<h4 class="text-info">API Uplink Terms</h4>
<div>
	<ul>
		<li>
In a paid plan, keytech-Web makes an uplink to the keytech API by using the link you enterd in the account settings.<br>
keytech-web will only forward requests directly to the end users browser. Files, Images Data are not stored permanetly in the service. Security critical data is never stored or cached by this service.<br></li>

<li>By linking your useraccount to a public available keytch API, you agree that keytech username, password and API URL is stored by this service. <br>
All keytech credentials are stored AES-256 encrypted. <br>
<br>
Any modification of data, information files and every kind of information provided by the keytech-API is handled like it would be handled when you use a directly connected client.<br>
<bR>
You expressly understand and agree that keytech-web shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses, resulting from your use of the service by directly acting through the web-interface.
</li>
<ul>
</div>

<h4 class="text-info">Payment, Refunds, Upgrading and Downgrading Terms</h4>
<div>
	<ul>
	<li>All paid plans must have a valid credit card. Free demo accounts are not required to provide a credit card.</li>
	<li>An upgrade from the free plan to any paying plan will immediately bill you.</li>
	<li>For monthly payment plans, the service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</li>

</ul>
</div>

<h4 class="text-info">Pricing</h4>
<div>
	<ul>
		<li>
	A subscription plan is billed monthly. You can unsubscribe at any time. As listed above, no refunds are paid for partial months.<br>
	Subsciptions are payable immediatly after starting in advance.
	If you cancel the service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.
</li>
</ul>
</div>

<h4>

<h4 class="text-info">Privacy</h4>
<div>
	<ul>
	<li>keytech-web will never share your account-information with any other third-party.</li>
	<li>Your credit card information -i case of a paid plan- is only shared with the payments vendor to bill the card. Payments vendor is BrainTree. </li>
	<li>All data transmitted through keytech-web will not be hosted locally permanently. Some meta-data can be stored in an in-memory database for a very short ammount of time. These data can be - but must not exclisive be- icons, thumbnails, layout information, usersettings, permission settings. But we will never store any files and element (document, folder or items) data.</li>

</ul>
</div>

<h4 class="text-info">Business Information</h4>
<div>
	<address>
	The keytech-web service is hosted by<br><br>
	<strong>Thorsten Claus</strong><br>
	<string>Claus-Software</string><br>
	Dortustrasse 15 <br>
	Dortmund<br>
	Germany<br>
</address>
	Contact by: <a href="mailto:support@claus-software.de">support@claus-software.de</a> <br>
	You can also use the <a href="/support">contact</a> form. 

	</div>






